<div class="form-row homepage">
    <div class="form-group col-md-6">
        <div class="title">
            <div class="row" style="margin: unset;">
                <h1 class="text-white" style="margin: unset;">Il gigante dai cento occhi</h1>

            </div>
            <div class="row" style="margin: unset;">
                <h1 class="text-white" style="margin: unset;">che tutto vede</h1>
            </div>
        </div>
        <div class="subtitle">
        </div>
        <div class="login-form">
            <!-- <nb-select *ngIf="!isCen()" placeholder="Seleziona Utente"
                [(ngModel)]="userId" name="users" fullWidth>
                <nb-option *ngFor="let user of users" value="{{user.id}}">
                    <span *ngIf="user.name && user.surname">
                        {{user.name}} {{user.surname}}
                    </span>
                    <span *ngIf="!user.name || !user.surname">
                        {{user.id}}
                    </span>
                </nb-option>
            </nb-select> -->
            <div class="row">
                <button nbButton class="login-enter" outline shape="round" disabled>Entra</button>
                <!-- <button *ngIf="!isCen() && !userId" nbButton class="login-enter" outline shape="round" disabled>Entra</button>
                <button *ngIf="!isCen() && userId" nbButton class="login-enter" outline shape="round" (click)="getUser(userId)">Entra</button> -->
            </div>
        </div>
    </div>
    <div class="form-group col-md-6 aa">
        <!-- <img src="assets/logo-login.png" width="250px" alt=""> -->
    </div>
</div>